div{
    width: 400px;
    height: 800px;
    margin: auto;
    color: whitesmoke;
}
form{
    background-color: yellowgreen;
    padding: 20px;
    border-width: thick;
    border-style: solid;
    border-color: grey;
}
.x{
    margin:10px;
    width: 180px;
}
label{
    display:inline-block;
    width: 100px;
}
fieldset {
    padding-top: 10px;
    border-color: white;
  }
  #boton{
    margin: 20px 0px 20px;
}
hr{
    border-style:dashed;
    color: #fff
}